# Python
*.py[cod]
__pycache__/
*.so

# Virtual environments
venv/
env/

# Environment variables
.env

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
/media/documents/

# GitHub default
.DS_Store

# Certificate and key files
cert.crt
cert.key

# (Optional) Ignore any other certs/keys by extension
*.crt
*.key
*.pem
*.pub
